<footer id="our-contacts" class="footer">
  <div class="container footer__container">
    <a href="/" class="link footer__logo" aria-label="logo">
      <span>C</span><i class="icon-logo-coffee-frame footer__logo-icon"></i><span>ffee</span>
    </a>
    <div class="footer__block">
      <div class="footer-navigation">
        <h2 class="footer__title">Navigation</h2>
        <nav class="footer-navigation__nav">
          <ul class="list footer-navigation__list">
            <li class="footer-navigation__item">
              <a
                class="link nav-link footer-navigation__link"
                href="#category"
                aria-label="Menu categories"
                >Menu categories</a
              >
            </li>
            <li class="footer-navigation__item">
              <a
                class="link nav-link footer-navigation__link"
                href="#about-us"
                aria-label="About us"
                >About us</a
              >
            </li>
            <li class="footer-navigation__item">
              <a class="link nav-link footer-navigation__link" href="#menu" aria-label="Menu"
                >Menu</a
              >
            </li>
            <li class="footer-navigation__item">
              <a class="link nav-link footer-navigation__link" href="#blog" aria-label="Blog"
                >Blog</a
              >
            </li>
            <li class="footer-navigation__item">
              <a class="link nav-link footer-navigation__link" href="#reviews" aria-label="Reviews"
                >Reviews</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-contacts">
        <h2 class="footer__title">Contacts</h2>
        <ul class="list footer-contacts__list">
          <li class="footer-contacts__item">
            <button
              type="button"
              class="link footer-contacts__link"
              aria-label="The project is still in work"
            >
              <i class="icon-phone-call footer__icon"></i>
              <span> +38 067 158 73 68</span>
            </button>
          </li>
          <li class="footer-contacts__item">
            <button
              type="button"
              class="link footer-contacts__link"
              aria-label="The project is still in work"
            >
              <i class="icon-email footer__icon"></i>
              <span>coffee@gmail.com</span>
            </button>
          </li>
        </ul>
        <ul class="list footer-social__list">
          <li class="footer-social__item">
            <button
              type="button"
              class="link footer-social__link icon-telegram"
              aria-label="The project is still in work"
            ></button>
          </li>
          <li class="footer-social__item">
            <button
              type="button"
              class="link footer-social__link icon-instagram"
              aria-label="The project is still in work"
            ></button>
          </li>
          <li class="footer-social__item">
            <button
              type="button"
              class="link footer-social__link icon-facebook"
              aria-label="The project is still in work"
            ></button>
          </li>
        </ul>
      </div>
      <div class="footer-address">
        <h2 class="footer__title">Location</h2>
        <ul class="list footer-address__list">
          <li class="footer-address__item">
            <button
              type="button"
              class="link footer-address__link"
              aria-label="The project is still in work"
            >
              <div class="footer-address__box">
                <i class="icon-address footer__icon"></i>
                <span>Kyiv <br />Hreshatuk Street, 22</span>
              </div>
            </button>
          </li>
          <li class="footer-address__item">
            <button
              type="button"
              class="link footer-address__link"
              aria-label="The project is still in work"
            >
              <i class="icon-time footer__icon"></i>
              <span>8:00-21:00</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <hr class="footer-copy__line" />
    <div class="footer-copy__softryzen icon-softryzen"></div>
{% include 'components/back-to-top.html' %}
  </div>
</footer>
