<header class="header">
  <div class="container header__container">
    <a href="#" class="link header__logo" aria-label="logo">
      <span>C</span><i class="icon-logo-coffee-frame"></i><span>ffee</span>
    </a>
    <div class="header__nav-menu">
      {% set classNav= "nav" %}{% set classNavList= "nav-list" %}{% set classBtnPosition= "nav-btn
      nav__btn-position" %} {% include 'components/nav-menu.html' %}
      <button
        type="button"
        class="mobile-menu-btn icon-burger-menu"
        data-menu-btn
        aria-label="Open menu"
      ></button>
    </div>
  </div>
  <div class="header__mobile"></div>
</header>
{% include 'components/mobile-menu.html' %}
<div class="backdrop-mobile is-hidden-menu" data-modal-menu></div>
