<div class="backdrop is-hidden" data-modal>
  <div class="modal is-hidden">
    <svg class="modal__close-icon" aria-label="Close modal" data-modal-close>
      <use xlink:href="assets/images/sprite.svg#icon-xmark-solid"></use>
    </svg>
    <div class="modal-content">
      <form class="contact-form" action="#" id="form">
        <div class="modal__title-wrapper">
          {% set sectionTitle = "Order&nbsp;a&nbsp;call" %} {% set classList =
          "modal__section-title"%} {%include 'components/section-title.html' %}
        </div>

        <div class="form-control form-control--name">
          <label for="name" class="contact-form-label">Name*</label>
          <input class="contact-form-input" id="name" type="text" name="name" required />
          <span>Error message</span>
        </div>

        <div class="form-control">
          <label for="telephone" class="contact-form-label">Phone*</label>
          <input class="contact-form-input" id="telephone" type="tel" name="telephone" required />
          <span>Error message</span>
        </div>

        <div class="send-btn-wrapper">
          <button class="btn send__btn" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal popup is-hidden">
    <svg class="modal__close-icon" aria-label="Close popup" data-popup-close>
      <use xlink:href="assets/images/sprite.svg#icon-xmark-solid"></use>
    </svg>
    <p class="section-title popup-title">We&nbsp;will&nbsp;contact with you soon</p>
  </div>
</div>
