.back-to-top {
  position: relative;
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 100;
  }

  &__link {
    opacity: 0.85;
    position: fixed;
    bottom: -40px;
    visibility: hidden;
    transition: all var(--cubic-slow);
    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__icon {
    fill: var(--brown-bg);
    width: 32px;
    height: 32px;
    margin: 0 100% 0 -100%;
    visibility: visible;
    cursor: pointer;
  }
}
.back-to-top__link.active {
  bottom: 20px;
  transition: all var(--cubic-slow);
  @include mq(tablet) {
    bottom: 40px;
  }
}
