.hero {
  padding-top: 55.4px;
  background: var(--primary-bg);
  // border: 1px solid rgb(0, 255, 72);

  @include mq(tablet) {
    padding-top: 92px;
  }
}

.hero__container {
  padding-right: 0;
  // border: 1px solid blue;
}

.hero__slider-wrapper {
  position: relative;
}

// SLIDER
.hero__slider {
  position: relative;
  height: 474px;
  // border: 1px solid rgb(0, 255, 221);

  @include mq(tablet) {
    height: 745px;
  }
}

.hero__slider .slick-slider {
  overflow: visible !important;
}

.hero__slider .slick-list {
  overflow: visible !important;
}

.hero__slider .slick-slide {
  // border: 1px solid rgb(207, 8, 214);
  @include mq(tablet) {
  }
}

.hero__title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  // border: 1px solid rgb(207, 8, 214);
}

.hero__title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 44px;
  line-height: 1.34;
  -webkit-text-stroke: 1px #000;

  @include mq(tablet) {
    // border: 1px solid rgb(255, 0, 0);
    width: 625px;
    font-size: 80px;
  }
}

.hero__text {
  font-family: var(--Playfair-Display);
  font-weight: 400;
  font-style: 16px;
  line-height: 1.3;
  color: var(--black-txt);
  width: 215px;

  @include mq(tablet) {
    width: 587px;
    font-size: 28px;
    // border: 1px solid rgb(255, 0, 0);
  }
}

.hero__text--croissants {
  width: 239px;
  @include mq(tablet) {
    width: 587px;
  }
}
.hero__text--cake {
  width: 275px;
  @include mq(tablet) {
    width: 587px;
  }
}

.hero__picture {
  display: flex;
  align-items: flex-end;
  height: 474px;
  // border: 1px solid rgb(4, 213, 255);
  @include mq(tablet) {
    width: 413px;
    height: 653px;

    position: absolute;
    top: 40px;
    right: 10px;
  }
  @include mq(desktop) {
    width: 735px;
    height: 707px;

    top: -75px;
    right: 10px;
  }
}

.hero__picture--croissants {
  @include mq(desktop) {
    top: -160px;
    right: -90px;
  }
}

.hero__picture--cake {
  @include mq(desktop) {
    width: 630px;
    height: 572px;
  }
}

.hero__slider .slick-track {
  // border: 1px solid blue;
  display: flex;
}

.hero__slider .slick-slide {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero__slider .slick-dots {
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid blue;
  margin: 0;
}

.hero__slider .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  list-style: none;
  // border: 1px solid rgb(247, 0, 255);
}

.hero__slider .slick-dots button {
  font-size: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgb(255, 0, 0);
}

//   .slick-dots {
//     li:nth-child(3) button {
//       background: radial-gradient(circle at center, var(--black-hp) 40%,
//           transparent 40%);
//     }

//     li:nth-child(4) button {
//       background: radial-gradient(circle at center, var(--violet-hp) 40%,
//           transparent 40%);
//     }

//     li:nth-child(2) button {
//       background: radial-gradient(circle at center, var(--purple-hp) 40%,
//           transparent 40%);
//     }

//     li:nth-child(1) button {
//       background: radial-gradient(circle at center, var(--blue-hp) 40%,
//           transparent 40%);
//     }
//   }

//   .slick-dots li:nth-child(3).slick-active button {
//     border: 1px solid var(--black-hp);
//   }

//   .slick-dots li:nth-child(4).slick-active button {
//     border: 1px solid var(--violet-hp);
//   }

//   .slick-dots li:nth-child(2).slick-active button {
//     border: 1px solid var(--purple-hp);
//   }

//   .slick-dots li:nth-child(1).slick-active button {
//     border: 1px solid var(--blue-hp);
//   }
// }

// BUTTON
.hero__btn {
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 999;

  display: flex;
  align-items: center;
  padding: 19.5px 117.5px;
  font-family: var(--Roboto);
  font-size: 20px;
  line-height: 1.15;
  color: var(--white-txt);
  margin: 0 auto;
  background-color: var(--brown-bg);
  border-radius: 40px;
  margin-top: 16px;
  box-shadow: var(--btn-sd);

  @include mq(tablet) {
    position: absolute;
    top: 500px;
    left: 110px;

    padding: 19.5px 54px;
  }
}
