.hero__slider {
  visibility: hidden;
}

.hero {
  padding-top: 25px;
  // border: 1px solid rgb(0, 255, 72);
  @include mq(tablet) {
    padding-top: 65px;
  }

  @include mq(desktop) {
    padding-top: 0px;
  }
}

.hero__container {
  position: relative;
}

.hero__container::before {
  content: '';

  position: absolute;
  top: 40px;
  right: -390px;
  z-index: -1;

  width: 629px;
  height: 534px;
  background-color: #fce5b8;
  border-radius: 70px;
  transform: rotate(42.14deg);

  @include mq(tablet) {
    width: 617px;
    height: 623px;

    top: 0px;
    right: -320px;
  }

  @include mq(desktop) {
    width: 1046px;
    height: 888px;

    top: -180px;
    right: -550px;
  }
}

.hero__slider-wrapper {
  position: relative;
}

// SLIDER
.hero__slider {
  position: relative;
  height: 474px;
  // border: 1px solid rgb(0, 255, 221);

  @include mq(tablet) {
    height: 745px;
  }
}

.hero__title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  // border: 1px solid rgb(207, 8, 214);
  @include mq(desktop) {
    top: 112px;
  }
}

.hero__title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 44px;
  line-height: 1.34;
  -webkit-text-stroke: 1px #000;

  @include mq(tablet) {
    // border: 1px solid rgb(255, 0, 0);
    width: 625px;
    font-size: 80px;
  }
}

.hero__title--croissants {
  @include mq(mobile-only) {
    margin-bottom: 15px;
  }
}

.hero__text {
  font-family: var(--Playfair-Display);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: var(--black-txt);
  width: 215px;

  @include mq(tablet) {
    width: 587px;
    font-size: 28px;
    // border: 1px solid rgb(255, 0, 0);
  }
}

.hero__text--croissants {
  width: 239px;
  @include mq(tablet) {
    width: 587px;
  }
}
.hero__text--cake {
  width: 295px;
  @include mq(tablet) {
    width: 587px;
  }
}

// SLIDER images
.hero__picture {
  display: flex;
  align-items: flex-end;
  height: 440px;
  // border: 1px solid rgb(4, 213, 255);
  @include mq(tablet) {
    width: 455px;
    height: 633px;

    position: absolute;
    top: 115px;
    right: -10px;
  }
  @include mq(desktop) {
    width: 700px;
    height: 765px;

    top: 0px;
    right: -36px;
  }
}

.hero__picture--croissants {
  @include mq(mobile-only) {
    height: 460px;
  }
  @include mq(tablet) {
    width: 400px;
    height: 680px;
    top: -20px;
    right: -23px;
  }
  @include mq(desktop) {
    width: 660px;
    top: -30px;
    right: -90px;
  }
}

.hero__picture--cake {
  @include mq(mobile-only) {
    height: 490px;
  }
  @include mq(tablet) {
    top: 50px;
    right: 0;
  }
  @include mq(desktop) {
    right: -83px;
    top: -140px;
  }
}

.hero__slider .slick-track {
  // border: 1px solid blue;
  height: 485px;

  @include mq(tablet) {
    height: 745px;
  }

  @include mq(desktop) {
    height: 762px;
  }
}

// SLIDER dots
.hero__slider .slick-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid blue;
  margin: 0;

  @include mq(tablet) {
    bottom: 60px;
  }

  @include mq(desktop) {
    bottom: 120px;
  }
}

.hero__slider .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  list-style: none;
  // border: 1px solid rgb(247, 0, 255);
}

.hero__slider .slick-dots li:not(:last-child) {
  margin-right: 8px;
}

.hero__slider .slick-dots button {
  font-size: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--brown-bg);
}

.hero__slider .slick-dots .slick-active {
  position: relative;

  height: 18px;
  width: 18px;
}

.hero__slider .slick-dots .slick-active::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 12px;
  width: 12px;
  background-color: var(--brown-bg);
  border-radius: 50%;
}

// BUTTON
.hero__btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero__btn {
  padding: 20px 90px;

  @include mq(tablet) {
    position: absolute;
    top: 415px;
    left: 0;

    padding: 20px 54px;
  }
  @include mq(desktop) {
    top: 484px;
  }
}
