.hero {
  padding-top: 55.4px;
  // border: 1px solid rgb(0, 255, 72);
  @include mq(tablet) {
    padding-top: 92px;
  }

  @include mq(tablet) {
    padding-top: 0px;
  }
}

.hero::before {
  content: '';

  position: absolute;
  top: 145px;
  right: -210px;
  z-index: -1;

  overflow-x: hidden;

  width: 629px;
  height: 534px;
  background-color: #fce5b8;
  border-radius: 70px;
  transform: rotate(42.14deg);

  @include mq(tablet) {
    width: 617px;
    height: 623px;

    right: -290px;
  }

  @include mq(desktop) {
    width: 1046px;
    height: 888px;

    top: -130px;
    right: -550px;
  }
}

.hero__container {
  padding-right: 0;
  // border: 1px solid blue;
}

.hero__slider-wrapper {
  position: relative;
}

// SLIDER
.hero__slider {
  position: relative;
  height: 474px;
  // border: 1px solid rgb(0, 255, 221);

  @include mq(tablet) {
    height: 745px;
  }
}

.hero__title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  // border: 1px solid rgb(207, 8, 214);
  @include mq(desktop) {
    top: 112px;
  }
}

.hero__title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 44px;
  line-height: 1.34;
  -webkit-text-stroke: 1px #000;

  @include mq(tablet) {
    // border: 1px solid rgb(255, 0, 0);
    width: 625px;
    font-size: 80px;
  }
}

.hero__text {
  font-family: var(--Playfair-Display);
  font-weight: 400;
  font-style: 16px;
  line-height: 1.3;
  color: var(--black-txt);
  width: 215px;

  @include mq(tablet) {
    width: 587px;
    font-size: 28px;
    // border: 1px solid rgb(255, 0, 0);
  }
}

.hero__text--croissants {
  width: 239px;
  @include mq(tablet) {
    width: 587px;
  }
}
.hero__text--cake {
  width: 275px;
  @include mq(tablet) {
    width: 587px;
  }
}

// SLIDER images
.hero__picture {
  display: flex;
  align-items: flex-end;
  height: 454px;
  // border: 1px solid rgb(4, 213, 255);
  @include mq(tablet) {
    width: 413px;
    height: 653px;

    position: absolute;
    top: 52px;
    right: 10px;
  }
  @include mq(desktop) {
    width: 735px;
    height: 707px;

    top: 55px;
    right: -46px;
  }
}

.hero__picture--croissants {
  @include mq(mobile-only) {
    height: 490px;
  }
  @include mq(tablet) {
    top: 20px;
    right: -5px;
  }
  @include mq(desktop) {
    top: -40px;
    right: -90px;
  }
}

.hero__picture--cake {
  @include mq(mobile-only) {
    height: 510px;
  }
  @include mq(tablet) {
    top: 0;
  }
  @include mq(desktop) {
    // width: 630px;
    // height: 572px;
    right: -100px;
    top: -130px;
  }
}

.hero__slider .slick-track {
  border: 1px solid blue;
  height: 485px;

  @include mq(tablet) {
    height: 745px;
  }

  @include mq(desktop) {
    height: 762px;
  }
}

// .hero__slider .slick-slide {
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;
// }

// SLIDER dots
.hero__slider .slick-dots {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid blue;
  margin: 0;

  @include mq(tablet) {
    bottom: 50px;
  }

  @include mq(desktop) {
    bottom: 120px;
  }
}

.hero__slider .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  list-style: none;
  // border: 1px solid rgb(247, 0, 255);
}

.hero__slider .slick-dots li:not(:last-child) {
  margin-right: 8px;
}

.hero__slider .slick-dots button {
  font-size: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--brown-bg);
}

.hero__slider .slick-dots .slick-active {
  position: relative;

  height: 18px;
  width: 18px;
}

.hero__slider .slick-dots .slick-active::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 12px;
  width: 12px;
  background-color: var(--brown-bg);
  border-radius: 50%;
}

// BUTTON
.hero__btn {
  padding: 19.5px 117.5px;
  margin-top: 30px;

  @include mq(tablet) {
    position: absolute;
    top: 335px;
    left: 0;

    padding: 19.5px 54px;
  }
  @include mq(desktop) {
    top: 484px;
  }
}
