.nav {
  display: flex;
  align-items: center;
  color: var(--brown-bg);
  white-space: nowrap;
  @include mq(tablet) {
    font-size: 20px;
    line-height: 1.15;
  }
  &__btn-position {
    box-shadow: 1px 20px 20px rgba(96, 51, 34, 0.05), 0px 5px 11px rgba(96, 51, 34, 0.08);
    @include mq(mobile-only) {
      display: none;
    }
    @include mq(tablet-only) {
      margin-right: 52px;
    }
    @include mq(desktop) {
      margin-left: 84px;
    }
  }
}
.nav-list {
  display: none;
  @include mq(desktop) {
    display: flex;
  }
}
.nav-item {
  @include mq(desktop) {
    position: relative;

    &:hover:before,
    &:focus::before {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left;
      -webkit-transition: -webkit-transform var(--cubic);
      transition: -webkit-transform var(--cubic);
      -o-transition: transform var(--cubic);
      transition: transform var(--cubic);
      transition: transform var(--cubic), -webkit-transform var(--cubic);
    }
    &::before {
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: var(--brown-bg);
      position: absolute;
      left: 0;
      bottom: -5px;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      transform-origin: right;
      -webkit-transition: -webkit-transform var(--cubic);
      transition: -webkit-transform var(--cubic);
      -o-transition: transform var(--cubic);
      transition: transform var(--cubic);
      transition: transform var(--cubic), -webkit-transform var(--cubic);
    }
    &:not(:last-child) {
      margin-right: 52px;
    }
  }
}
.nav-btn {
  border-radius: 40px;
  border: 1px solid var(--brown-bg);
  padding: 10px 37px;
  transition: var(--cubic);
  white-space: nowrap;
  font-weight: 700;
  box-shadow: 1px 20px 20px rgba(96, 51, 34, 0.05), 0px 5px 11px rgba(96, 51, 34, 0.08);
  &:hover,
  &:focus {
    color: var(--white-txt);
    background: var(--brown-bg);
  }
  &:active {
    background: var(--footer-bg);
  }
}
