.backdrop {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(252, 229, 184, 0.7);
  z-index: 100;
  overflow: auto;
  transition: opacity 0.2s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  visibility: visible;
  opacity: 1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 32px 16px 40px 16px;
  width: 100%;
  max-width: 335px;
  min-height: 379px;

  background-color: var(--primary-bg);
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  transition: transform 0.3s linear 0.2s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  @include mq(tablet) {
    padding: 32px 60px 40px 60px;
    max-width: 470px;
    min-height: 438px;
  }

  .is-hidden & {
    transform: translate(-50%, 100%) scale(0);
  }
}

.modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 20px;
  color: var(--black-txt);
}

.send-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.send__btn {
  padding: 19.5px 128.5px;
  margin-top: 35px !important;

  @include mq(tablet) {
    padding: 19.5px 81px;
    margin-top: 52px;
  }
}

.form-control {
  margin-top: 32px;
  @include mq(tablet) {
  }
}

.form-control--name {
  @include mq(tablet) {
    margin-top: 42px;
  }
}

.modal__title-wrapper {
  display: flex;
  justify-content: center;
}

.contact-form-input {
  padding-top: 6px;
  padding-left: 6px;
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: 1px solid var(--grey-txt);
  background-color: transparent;
  outline: none;

  font-size: 14px;
  line-height: 1.4;
  color: var(--black-txt);

  @include mq(tablet) {
    padding-top: 15px;
    padding-left: 15px;
    height: 50px;

    font-size: 16px;
    line-height: 1.3;
  }
}

.contact-form-label {
  font-size: 14px;
  line-height: 1.43;
  color: var(--grey-txt);

  @include mq(tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

// FORM VALIDATION
.form-control span {
  visibility: hidden;
  display: none;
}

.form-control.error span {
  display: block;
  visibility: visible;
  display: block;
  width: 232px;
  padding-left: 25px;
  color: #dc2626;

  @include mq(tablet) {
    width: 367px;
  }
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #dc2626;
}
