.section-wrapper {
  display: inline-block;
  text-align: center;
}

.line-wrapper {
  position: relative;
  padding-bottom: 9px;
  @include mq(tablet) {
    padding-bottom: 12px;
  }
  @include mq(desktop) {
    padding-bottom: 13px;
  }
  &::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--brown-bg);
    position: absolute;
    bottom: -1px;
    left: 30px;
    z-index: 1;
    @include mq(desktop) {
      width: 5px;
      height: 5px;
      bottom: -2px;
    }
  }
  &::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--brown-bg);
    position: absolute;
    bottom: -1px;
    right: 30px;
    z-index: 1;
    @include mq(desktop) {
      width: 5px;
      height: 5px;
      bottom: -2px;
    }
  }
}
.section-line::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 30px;
  right: 30px;
  border-bottom: 1px solid var(--brown-bg);
}
