.slick-slider-nav {
  width: 100px;
  & .slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .slick-slide {
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    border: 1px solid var(--brown-bg);
    border-radius: 50%;
    cursor: pointer;
  }
  & .slick-slide.slick-active {
    display: block;
    width: 12px;
    height: 12px;
  }
  & .slick-slide.slick-center {
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    cursor: auto;
    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--brown-bg);
      border-radius: 50%;
    }
  }
}
