/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* FONT-FASE */
/* Usage
@include font-face ('Acrom', '../fonts/Acrom/Acrom-Thin', 100);
    */
/* SET REM FUNCTION */
/* MEDIA QUERIES*/
/*  Usage
.block {
    @include mq(mobile) {
        margin-bottom: 16px;
    };
  }
*/
:root {
  /* TEXT COLORS */
  --black-txt: #1c0c01;
  --white-txt: #fff;
  --grey-txt: #8b8b8b;
  --footer-txt: #fafafa;
  /* BACKGROUND COLORS */
  --primary-bg: #fffbf3;
  --coffee-kinds-bg: #fce5b8;
  --brown-bg: #603322;
  --footer-bg: #1c0c01;
  --header-logo: #773300;
  /* SHADOWS */
  --btn-sd: 5px 79px 32px rgba(28, 25, 23, 0.01), 3px 44px 27px rgba(28, 25, 23, 0.05),
    1px 20px 20px rgba(28, 25, 23, 0.09), 0px 5px 11px rgba(28, 25, 23, 0.1),
    0px 0px 0px rgba(28, 25, 23, 0.1), inset 0px 0px 14px rgba(28, 12, 1, 0.15);
  /* FONTS */
  --Roboto: "Roboto", sans-serif;
  --Playfair-Display: "Playfair-Display", sans-serif;
  --PT-Serif: "PT-Serif", sans-serif;
  --Gotham-Pro: "Gotham-Pro", sans-serif;
  /* TRANSITION */
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --cubic-slow: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: "Roboto"; /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto"; /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto"; /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto"; /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair-Display"; /* IE9 Compat Modes */
  src: url("../fonts/Playfair-Display/PlayfairDisplay-Regular.eot");
  src: url("../fonts/Playfair-Display/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Playfair-Display/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/Playfair-Display/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/Playfair-Display/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair-Display"; /* IE9 Compat Modes */
  src: url("../fonts/Playfair-Display/PlayfairDisplay-SemiBold.eot");
  src: url("../fonts/Playfair-Display/PlayfairDisplay-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Playfair-Display/PlayfairDisplay-SemiBold.woff") format("woff"), url("../fonts/Playfair-Display/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("../fonts/Playfair-Display/PlayfairDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair-Display"; /* IE9 Compat Modes */
  src: url("../fonts/Playfair-Display/PlayfairDisplay-Bold.eot");
  src: url("../fonts/Playfair-Display/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Playfair-Display/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/Playfair-Display/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/Playfair-Display/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT-Serif"; /* IE9 Compat Modes */
  src: url("../fonts/PT-Serif/PTSerif-Italic.eot");
  src: url("../fonts/PT-Serif/PTSerif-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PT-Serif/PTSerif-Italic.woff") format("woff"), url("../fonts/PT-Serif/PTSerif-Italic.woff2") format("woff2"), url("../fonts/PT-Serif/PTSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham-Pro"; /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Pro/gothampro_bold.eot");
  src: url("../fonts/Gotham-Pro/gothampro_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Pro/gothampro_bold.woff") format("woff"), url("../fonts/Gotham-Pro/gothampro_bold.woff2") format("woff2"), url("../fonts/Gotham-Pro/gothampro_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot?c1ql59");
  src: url("../fonts/icons/icons.eot?c1ql59#iefix") format("embedded-opentype"), url("../fonts/icons/icons.ttf?c1ql59") format("truetype"), url("../fonts/icons/icons.woff?c1ql59") format("woff"), url("../fonts/icons/icons.woff2?c1ql59") format("woff2"), url("../fonts/icons/icons.svg?c1ql59#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*=icon-]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-burger-menu:before {
  content: "\e907";
}

.icon-logo-coffee-frame:before {
  content: "\e908";
}

.icon-dollar:before {
  content: "\e909";
}

.icon-left-quote:before {
  content: "\e90a";
}

.icon-time:before {
  content: "\e90b";
}

.icon-address:before {
  content: "\e90c";
}

.icon-softryzen:before {
  content: "\e90d";
}

.icon-phone-call:before {
  content: "\e90e";
}

.icon-email:before {
  content: "\e90f";
}

.icon-xmark-solid:before {
  content: "\e903";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--Roboto);
  color: var(--black-txt);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color var(--fast) linear;
}
.link:hover, .link:focus {
  color: var(--secondary-txt-cl);
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.scroll-hidden {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.section-title {
  font-family: var(--Playfair-Display);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: var(--black-txt);
}
@media (min-width: 768px) {
  .section-title {
    font-size: 40px;
  }
}

.subtitle {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-txt-cl);
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 20px;
    max-width: 375px;
  }
}
@media (min-width: 768px) and (max-width: 1439.98px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 112px;
  }
}

.section-wrapper {
  display: inline-block;
  text-align: center;
}

.line-wrapper {
  position: relative;
  padding-bottom: 9px;
}
@media (min-width: 768px) {
  .line-wrapper {
    padding-bottom: 12px;
  }
}
@media (min-width: 1440px) {
  .line-wrapper {
    padding-bottom: 13px;
  }
}
.line-wrapper::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--brown-bg);
  position: absolute;
  bottom: -1px;
  left: 30px;
  z-index: 1;
}
@media (min-width: 1440px) {
  .line-wrapper::after {
    width: 5px;
    height: 5px;
    bottom: -2px;
  }
}
.line-wrapper::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--brown-bg);
  position: absolute;
  bottom: -1px;
  right: 30px;
  z-index: 1;
}
@media (min-width: 1440px) {
  .line-wrapper::before {
    width: 5px;
    height: 5px;
    bottom: -2px;
  }
}

.section-line::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 30px;
  right: 30px;
  border-bottom: 1px solid var(--brown-bg);
}

.btn, .form-btn {
  border-radius: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--white-txt);
  background: var(--brown-bg);
  box-shadow: var(--btn-sd);
  transition: var(--cubic);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}
.btn:hover, .form-btn:hover, .btn:focus, .form-btn:focus {
  color: var(--black-txt);
  border: 1px solid var(--black-txt);
  background: transparent;
}

.form__wrapper {
  margin-bottom: 40px;
}
.form__title {
  margin-bottom: 20px;
  color: var(--blue-bg);
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 768px) {
  .form__title {
    margin-bottom: 40px;
  }
}
.form-field:not(:last-child) {
  margin-bottom: 24px;
}
.form-input {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.form-input {
  height: 50px;
}
.form-btn {
  display: block;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.98px) {
  .form-btn {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .form-btn {
    margin-bottom: 40px;
  }
}

:root {
  --matter-onsurface-rgb: var(--blue-bg-rgb);
}

.matter-textfield-outlined {
  --matter-helper-theme: rgb(var(--blue-bg-rgb));
  --matter-helper-safari1: rgba(var(--blue-bg-rgb), 0.38);
  --matter-helper-safari2: rgba(var(--blue-bg-rgb), 0.6);
  --matter-helper-safari3: rgba(var(--blue-bg-rgb), 0.87);
  position: relative;
  display: block;
  padding-top: 6px;
}

/* Input, Textarea */
.matter-textfield-outlined > input,
.matter-textfield-outlined > textarea {
  box-sizing: border-box;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-color: transparent var(--matter-helper-safari2) var(--matter-helper-safari2);
  border-radius: 8px;
  padding: 13px 21px;
  width: 100%;
  height: inherit;
  color: rgba(var(--matter-onsurface-rgb), 0.87);
  background-color: transparent;
  box-shadow: inset 1px 0 transparent, inset -1px 0 transparent, inset 0 -1px transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: var(--matter-helper-theme);
  transition: border 0.2s, box-shadow 0.2s;
}

.matter-textfield-outlined > input:not(:focus):-moz-placeholder-shown, .matter-textfield-outlined > textarea:not(:focus):-moz-placeholder-shown {
  border-top-color: var(--matter-helper-safari2);
}

.matter-textfield-outlined > input:not(:focus):placeholder-shown,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: var(--matter-helper-safari2);
}

/* Span */
.matter-textfield-outlined > input + span,
.matter-textfield-outlined > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  max-height: 100%;
  color: var(--primary-txt-cl);
  font-size: 75%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

.matter-textfield-outlined > input:not(:focus):-moz-placeholder-shown + span, .matter-textfield-outlined > textarea:not(:focus):-moz-placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}

.matter-textfield-outlined > input:not(:focus):placeholder-shown + span,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}

/* Corners */
.matter-textfield-outlined > input + span::before,
.matter-textfield-outlined > input + span::after,
.matter-textfield-outlined > textarea + span::before,
.matter-textfield-outlined > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px var(--matter-helper-safari2);
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border 0.2s, box-shadow 0.2s;
}

.matter-textfield-outlined > input + span::before,
.matter-textfield-outlined > textarea + span::before {
  margin-right: 8px;
  border-left: solid 1px transparent;
  border-radius: 8px 0;
}

.matter-textfield-outlined > input + span::after,
.matter-textfield-outlined > textarea + span::after {
  flex-grow: 1;
  margin-left: 8px;
  border-right: solid 1px transparent;
  border-radius: 0 8px;
}

.matter-textfield-outlined > input:not(:focus):-moz-placeholder-shown + span::before, .matter-textfield-outlined > textarea:not(:focus):-moz-placeholder-shown + span::before, .matter-textfield-outlined > input:not(:focus):-moz-placeholder-shown + span::after, .matter-textfield-outlined > textarea:not(:focus):-moz-placeholder-shown + span::after {
  border-top-color: transparent;
}

.matter-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.matter-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Hover */
.matter-textfield-outlined:hover > input,
.matter-textfield-outlined:hover > textarea {
  border-color: transparent var(--matter-helper-safari3) var(--matter-helper-safari3);
}

.matter-textfield-outlined:hover > input + span::before,
.matter-textfield-outlined:hover > textarea + span::before,
.matter-textfield-outlined:hover > input + span::after,
.matter-textfield-outlined:hover > textarea + span::after {
  border-top-color: var(--matter-helper-safari3);
}

.matter-textfield-outlined:hover > input:not(:focus):-moz-placeholder-shown, .matter-textfield-outlined:hover > textarea:not(:focus):-moz-placeholder-shown {
  border-color: var(--matter-helper-safari3);
}

.matter-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.matter-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color: var(--matter-helper-safari3);
}

/* Focus */
.matter-textfield-outlined > input:focus,
.matter-textfield-outlined > textarea:focus {
  border-color: transparent var(--matter-helper-theme) var(--matter-helper-theme);
  box-shadow: inset 1px 0 var(--matter-helper-theme), inset -1px 0 var(--matter-helper-theme), inset 0 -1px var(--matter-helper-theme);
  outline: none;
}

.matter-textfield-outlined > input:focus + span,
.matter-textfield-outlined > textarea:focus + span {
  color: rgba(var(--primary-txt-cl), 0.5);
}

.matter-textfield-outlined > input:focus + span::before,
.matter-textfield-outlined > input:focus + span::after,
.matter-textfield-outlined > textarea:focus + span::before,
.matter-textfield-outlined > textarea:focus + span::after {
  border-top-color: var(--matter-helper-theme) !important;
  box-shadow: inset 0 1px var(--matter-helper-theme);
}

/* Disabled */
.matter-textfield-outlined > input:disabled,
.matter-textfield-outlined > input:disabled + span,
.matter-textfield-outlined > textarea:disabled,
.matter-textfield-outlined > textarea:disabled + span {
  border-color: transparent var(--matter-helper-safari1) var(--matter-helper-safari1) !important;
  color: rgba(var(--matter-onsurface-rgb), 0.38);
  pointer-events: none;
}

.matter-textfield-outlined > input:disabled + span::before,
.matter-textfield-outlined > input:disabled + span::after,
.matter-textfield-outlined > textarea:disabled + span::before,
.matter-textfield-outlined > textarea:disabled + span::after {
  border-top-color: var(--matter-helper-safari1) !important;
}

.matter-textfield-outlined > input:disabled:-moz-placeholder-shown, .matter-textfield-outlined > input:disabled:-moz-placeholder-shown + span, .matter-textfield-outlined > textarea:disabled:-moz-placeholder-shown, .matter-textfield-outlined > textarea:disabled:-moz-placeholder-shown + span {
  border-top-color: var(--matter-helper-safari1) !important;
}

.matter-textfield-outlined > input:disabled:placeholder-shown,
.matter-textfield-outlined > input:disabled:placeholder-shown + span,
.matter-textfield-outlined > textarea:disabled:placeholder-shown,
.matter-textfield-outlined > textarea:disabled:placeholder-shown + span {
  border-top-color: var(--matter-helper-safari1) !important;
}

.matter-textfield-outlined > input:disabled:-moz-placeholder-shown + span::before, .matter-textfield-outlined > input:disabled:-moz-placeholder-shown + span::after, .matter-textfield-outlined > textarea:disabled:-moz-placeholder-shown + span::before, .matter-textfield-outlined > textarea:disabled:-moz-placeholder-shown + span::after {
  border-top-color: transparent !important;
}

.matter-textfield-outlined > input:disabled:placeholder-shown + span::before,
.matter-textfield-outlined > input:disabled:placeholder-shown + span::after,
.matter-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.matter-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .matter-textfield-outlined > input,
    .matter-textfield-outlined > input + span,
    .matter-textfield-outlined > textarea,
    .matter-textfield-outlined > textarea + span,
    .matter-textfield-outlined > input + span::before,
    .matter-textfield-outlined > input + span::after,
    .matter-textfield-outlined > textarea + span::before,
    .matter-textfield-outlined > textarea + span::after {
      transition-duration: 0.1s;
    }
  }
}
.checkbox-label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.checkbox-label .text {
  flex-basis: calc(100% - 29px);
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

.checkbox-label input {
  opacity: 0;
  cursor: pointer;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-right: 9px;
  height: 20px;
  width: 20px;
  border: 1px solid var(--accent-cl);
  border-radius: 50%;
  background-color: transparent;
}

.checkmark:after {
  opacity: 0;
}

.checkbox-label input:checked ~ .checkmark:after {
  opacity: 1;
}

.checkbox-label .checkmark:after {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--accent-cl);
  border-radius: 50%;
  transition: opacity var(--fast) linear;
}

.mobile-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  padding-top: 24px;
  top: 0;
  right: 0;
  background-color: var(--primary-bg);
  transform: translateX(100%);
  transition: transform var(--cubic);
  overflow-y: scroll;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
@media (min-width: 768px) {
  .mobile-menu {
    width: 43%;
    transform: translateX(50%);
  }
}
@media (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.icon-xmark-solid {
  font-size: 32px;
}
@media (min-width: 768px) {
  .icon-xmark-solid {
    font-size: 40px;
  }
}
.icon-xmark-solid:hover, .icon-xmark-solid:focus {
  color: var(--header-logo);
}

.nav-mobile {
  text-align: left;
  padding-left: 50px;
}
.nav-mobile .nav__btn-mobile-position {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px;
  font-weight: 700;
}
.nav-mobile .nav__btn-mobile-position:hover, .nav-mobile .nav__btn-mobile-position:focus {
  color: var(--header-logo);
}

.nav-list-mobile {
  margin-top: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
.nav-list-mobile .nav-item {
  margin-bottom: 30px;
}
.nav-list-mobile .nav-item:hover, .nav-list-mobile .nav-item:focus {
  color: var(--header-logo);
}

.is-hidden-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.1);
}

.backdrop-mobile {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  z-index: 99;
}
@media (min-width: 1440px) {
  .backdrop-mobile {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  color: var(--brown-bg);
  white-space: nowrap;
}
@media (min-width: 768px) {
  .nav {
    font-size: 20px;
    line-height: 1.15;
  }
}
@media (max-width: 767.98px) {
  .nav__btn-position {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1439.98px) {
  .nav__btn-position {
    margin-right: 52px;
  }
}
@media (min-width: 1440px) {
  .nav__btn-position {
    margin-left: 84px;
  }
}

.nav-list {
  display: none;
}
@media (min-width: 1440px) {
  .nav-list {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .nav-item {
    position: relative;
  }
  .nav-item:hover:before, .nav-item:focus::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform var(--cubic);
  }
  .nav-item::before {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--brown-bg);
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform var(--cubic);
  }
  .nav-item:not(:last-child) {
    margin-right: 52px;
  }
}

.nav-btn {
  border-radius: 40px;
  border: 1px solid var(--brown-bg);
  padding: 10px 37px;
  transition: var(--cubic);
  font-weight: 700;
}
.nav-btn:hover, .nav-btn:focus {
  color: var(--white-txt);
  background: var(--brown-bg);
}

.backdrop {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 100;
  overflow: auto;
  transition: opacity 0.2s;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  width: 100%;
  max-width: 630px;
  min-height: 640px;
  padding: 76px 20px;
  border-radius: 12px;
  background-color: var(--white-bg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat-y;
  transition: transform 0.3s linear 0.2s;
  background-image: linear-gradient(to bottom, #fff, #fff 37px, var(--primary-bg) 37px, var(--primary-bg) 100%);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .modal {
    padding: 76px 110px;
  }
}
.modal::after {
  display: block;
  position: absolute;
  content: "";
  top: 12.8px;
  left: 15px;
  width: 47.5px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.is-hidden .modal {
  transform: translate(-50%, 100%) scale(0);
}

.btn-close {
  position: absolute;
  right: 7px;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  outline: none;
}
.btn-close:focus {
  border: 1.5px solid rgba(255, 255, 255, 0.75);
}

.slick-slider-nav {
  width: 86px;
}
.slick-slider-nav .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slider-nav .slick-slide {
  display: block;
  width: 6px;
  height: 6px;
  margin-top: 6px;
  margin-right: 8px;
  border: 1px solid var(--brown-bg);
  border-radius: 50%;
}
.slick-slider-nav .slick-slide.slick-active {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid var(--brown-bg);
  border-radius: 50%;
}
.slick-slider-nav .slick-slide.slick-center {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 1px solid var(--brown-bg);
  border-radius: 50%;
}
.slick-slider-nav .slick-slide.slick-center::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--brown-bg);
  border-radius: 50%;
}

.back-to-top {
  position: relative;
}
.back-to-top__wrapper {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 100;
}
.back-to-top__link {
  opacity: 0.8;
  position: fixed;
  bottom: -60px;
  visibility: hidden;
  transition: opacity var(--cubic-slow);
}
.back-to-top__link:hover, .back-to-top__link:focus {
  opacity: 1;
}
.back-to-top__icon {
  display: inline-block;
  fill: var(--brown-bg);
  width: 32px;
  height: 32px;
  margin: 0 100% 0 -100%;
  visibility: visible;
  cursor: pointer;
}

.back-to-top__link.active {
  bottom: 60px;
  transition: all var(--cubic-slow);
}

.header {
  padding-top: 24px;
  background-color: var(--primary-bg);
}
.header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__container {
    justify-content: space-between;
  }
}
@media (min-width: 375px) {
  .header__container {
    justify-content: space-between;
  }
}
.header__logo {
  font-size: 25px;
  font-family: "PT-Serif";
  line-height: 1.28;
  transition: transform var(--cubic);
}
.header__logo:hover, .header__logo:focus {
  transform: scale(1.15);
}
@media (min-width: 768px) {
  .header__logo {
    font-size: 31px;
    line-height: 1.29;
  }
}
@media (min-width: 1440px) {
  .header__logo {
    margin-right: 84px;
  }
}
.header__nav-menu {
  line-height: 0;
}
@media (min-width: 768px) {
  .header__nav-menu {
    display: flex;
    align-items: center;
  }
}

.icon-logo-coffee-frame {
  margin: 0px 3px;
  color: var(--header-logo);
}
@media (min-width: 768px) {
  .icon-logo-coffee-frame {
    margin: 0px 4px;
  }
}

@media (min-width: 1440px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn.is-active {
  display: none;
}

.icon-burger-menu {
  font-size: 32px;
}
@media (min-width: 768px) {
  .icon-burger-menu {
    font-size: 40px;
  }
}
.icon-burger-menu:hover, .icon-burger-menu:focus {
  color: var(--header-logo);
}

.hero {
  padding-top: 55.4px;
}
@media (min-width: 768px) {
  .hero {
    padding-top: 92px;
  }
}
@media (min-width: 768px) {
  .hero {
    padding-top: 0px;
  }
}

.hero__slider-wrapper {
  position: relative;
}

.hero__slider {
  position: relative;
  height: 474px;
}
@media (min-width: 768px) {
  .hero__slider {
    height: 745px;
  }
}

.hero__title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 1440px) {
  .hero__title-wrapper {
    top: 112px;
  }
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.34;
  -webkit-text-stroke: 1px #000;
}
@media (min-width: 768px) {
  .hero__title {
    width: 625px;
    font-size: 80px;
  }
}

.hero__text {
  font-family: var(--Playfair-Display);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: var(--black-txt);
  width: 215px;
}
@media (min-width: 768px) {
  .hero__text {
    width: 587px;
    font-size: 28px;
  }
}

.hero__text--croissants {
  width: 239px;
}
@media (min-width: 768px) {
  .hero__text--croissants {
    width: 587px;
  }
}

.hero__text--cake {
  width: 275px;
}
@media (min-width: 768px) {
  .hero__text--cake {
    width: 587px;
  }
}

.hero__picture {
  display: flex;
  align-items: flex-end;
  height: 454px;
}
@media (min-width: 768px) {
  .hero__picture {
    width: 413px;
    height: 653px;
    position: absolute;
    top: 52px;
    right: 10px;
  }
}
@media (min-width: 1440px) {
  .hero__picture {
    width: 735px;
    height: 707px;
    top: 55px;
    right: -46px;
  }
}

@media (max-width: 767.98px) {
  .hero__picture--croissants {
    height: 490px;
  }
}
@media (min-width: 768px) {
  .hero__picture--croissants {
    top: 20px;
    right: -5px;
  }
}
@media (min-width: 1440px) {
  .hero__picture--croissants {
    top: -40px;
    right: -90px;
  }
}

@media (max-width: 767.98px) {
  .hero__picture--cake {
    height: 510px;
  }
}
@media (min-width: 768px) {
  .hero__picture--cake {
    top: 0;
  }
}
@media (min-width: 1440px) {
  .hero__picture--cake {
    right: -100px;
    top: -130px;
  }
}

.hero__slider .slick-track {
  height: 485px;
}
@media (min-width: 768px) {
  .hero__slider .slick-track {
    height: 745px;
  }
}
@media (min-width: 1440px) {
  .hero__slider .slick-track {
    height: 762px;
  }
}

.hero__slider .slick-dots {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
@media (min-width: 768px) {
  .hero__slider .slick-dots {
    bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .hero__slider .slick-dots {
    bottom: 120px;
  }
}

.hero__slider .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  list-style: none;
}

.hero__slider .slick-dots li:not(:last-child) {
  margin-right: 8px;
}

.hero__slider .slick-dots button {
  font-size: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--brown-bg);
}

.hero__slider .slick-dots .slick-active {
  position: relative;
  height: 18px;
  width: 18px;
}

.hero__slider .slick-dots .slick-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  background-color: var(--brown-bg);
  border-radius: 50%;
}

.hero__btn {
  padding: 19.5px 117.5px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .hero__btn {
    position: absolute;
    top: 335px;
    left: 0;
    padding: 19.5px 54px;
  }
}
@media (min-width: 1440px) {
  .hero__btn {
    top: 484px;
  }
}

.category {
  background-color: var(--primary-bg);
  padding-top: 40px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .category {
    padding-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .category {
    padding-top: 65px;
    padding-bottom: 60px;
  }
}
.category__container {
  margin: 0 auto;
}
.category__section-title {
  display: block;
  width: 251px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .category__section-title {
    width: 428px;
    margin-bottom: 62px;
  }
}
@media (min-width: 1440px) {
  .category__section-title {
    margin-bottom: 63px;
  }
}
.category__slick-slider .slick-slide {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .category__slick-slider .slick-slide {
    margin-left: 37px;
  }
}
@media (min-width: 1440px) {
  .category__slick-slider .slick-slide {
    margin-left: 41px;
  }
}
.category__slick-slider .category__image {
  width: 100%;
}
.category__slick-slider .slick-arrow {
  font-size: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 32%;
  z-index: 1;
}
@media (min-width: 768px) {
  .category__slick-slider .slick-arrow {
    width: 32px;
    height: 32px;
    top: 35%;
  }
}
.category__slick-slider .slick-next {
  background: url("../images/menu-categories/arrow-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: -8px;
}
@media (min-width: 768px) {
  .category__slick-slider .slick-next {
    right: -16px;
  }
}
.category__slick-slider .slick-next.slick-disabled {
  background: url("../images/menu-categories/arrow-disable.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
}
.category__slick-slider .slick-prev {
  background: url("../images/menu-categories/arrow-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: -8px;
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .category__slick-slider .slick-prev {
    left: -16px;
  }
}
.category__slick-slider .slick-prev.slick-disabled {
  background: url("../images/menu-categories/arrow-disable.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(0deg);
}
.category__slick-slider .category__slick-slide-link {
  display: block;
  font-family: var(--Playfair-Display);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  margin-top: 8px;
  color: var(--black-txt);
}
@media (min-width: 768px) {
  .category__slick-slider .category__slick-slide-link {
    font-size: 28px;
    margin-top: 12px;
  }
}
.category__slick-slider .category__slick-slide-link:hover, .category__slick-slider .category__slick-slide-link:focus {
  text-decoration: underline;
}

.about-us {
  position: relative;
  background-color: var(--primary-bg);
}
.about-us__item {
  display: flex;
  align-items: center;
}
.about-us__svt {
  fill: var(--brown-bg);
}
.about-us__subtitle {
  font-family: var(--Playfair-Display);
  font-weight: 600;
  color: var(--black-txt);
}
.about-us__text {
  color: var(--grey-txt);
}
.about-us__img-wrapper {
  position: relative;
}
.about-us__picture-coffee {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-us__picture-decor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-us__picture-coffee-dec {
  position: absolute;
  right: 0;
}
@media (max-width: 767.98px) {
  .about-us {
    padding: 25px 0 20px;
  }
  .about-us__list {
    margin-top: 42px;
    margin-bottom: 19px;
  }
  .about-us__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .about-us__svg {
    margin-right: 8px;
    width: 60px;
    height: 60px;
  }
  .about-us__subtitle {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1.33;
  }
  .about-us__text {
    max-width: 180px;
    font-size: 12px;
    line-height: 1.17;
  }
  .about-us__img-wrapper {
    height: 293px;
  }
  .about-us__picture-coffee {
    width: 220px;
  }
  .about-us__picture-decor {
    width: 293px;
  }
  .about-us__picture-coffee-dec {
    max-width: 134px;
    top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1439.98px) {
  .about-us {
    padding: 40px 0 80px;
  }
  .about-us__content-wrapper {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .about-us__img-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .about-us__picture-coffee-dec {
    top: -45px;
  }
}
@media (min-width: 768px) {
  .about-us__content-wrapper {
    display: flex;
  }
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-us__item:nth-child(-n+4) {
    margin-bottom: 40px;
  }
  .about-us__svg {
    margin-right: 16px;
    width: 80px;
    height: 80px;
  }
  .about-us__subtitle {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 1.32;
  }
  .about-us__text {
    max-width: 235px;
    line-height: 1.19;
  }
  .about-us__img-wrapper {
    width: 100%;
    height: 493px;
  }
  .about-us__picture-coffee {
    width: 425px;
  }
  .about-us__picture-decor {
    width: 563px;
  }
}
@media (min-width: 1440px) {
  .about-us {
    padding: 60px 0 80px;
  }
  .about-us__content-wrapper {
    flex-direction: row-reverse;
    margin-top: 40px;
  }
  .about-us__list {
    margin-left: 89px;
  }
  .about-us__picture-coffee-dec {
    top: -55px;
  }
}

.blog {
  background-color: var(--primary-bg);
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .blog {
    padding-top: 80px;
  }
}
@media (min-width: 1440px) {
  .blog {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
.blog__container {
  margin: 0 auto;
}
.blog__section-title h2 {
  font-weight: 600;
}
.blog__section-title {
  display: block;
  width: 184px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .blog__section-title {
    width: 303px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1440px) {
  .blog__section-title {
    margin-bottom: 62px;
  }
}
.blog__slick-slider .slick-slide {
  width: 159px;
  margin-left: 17px;
}
@media (min-width: 768px) {
  .blog__slick-slider .slick-slide {
    width: 336px;
    margin-left: 32px;
  }
}
@media (min-width: 1440px) {
  .blog__slick-slider .slick-slide {
    width: 384px;
  }
}
.blog__slick-slider .blog__image {
  width: 100%;
}
.blog__slick-slide-title {
  display: block;
  font-family: var(--Playfair-Display);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 159px;
  padding-right: 16px;
  margin-top: 16px;
  color: var(--black-txt);
}
@media (min-width: 768px) {
  .blog__slick-slide-title {
    padding-right: 0;
    margin-top: 20px;
    width: 305px;
    font-size: 28px;
  }
}
.blog__slick-slide-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  width: 159px;
  margin-top: 8px;
  color: var(--grey-txt);
}
@media (min-width: 768px) {
  .blog__slick-slide-text {
    font-size: 16px;
    margin-top: 12px;
    width: 235px;
  }
}
.blog__slick-slider-nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
@media (min-width: 1440px) {
  .blog__slick-slider-nav {
    margin-top: 40px;
  }
}

.footer {
  position: relative;
  text-align: center;
  background-color: var(--footer-bg);
  color: var(--footer-txt);
  padding-top: 40px;
  padding-bottom: 24px;
}
@media (min-width: 768px) and (max-width: 1439.98px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1439.98px) {
  .footer__container {
    padding: 0 53px;
  }
}
@media (min-width: 1440px) {
  .footer__container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1439.98px) {
  .footer__block {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .footer__block {
    text-align: left;
    display: flex;
    margin-left: 219px;
    margin-bottom: 10px;
  }
}
.footer__logo {
  display: inline-block;
  font-size: 28px;
  line-height: 1.32;
  font-family: "PT-Serif";
  transition: transform var(--cubic);
}
.footer__logo:hover, .footer__logo:focus {
  transform: scale(1.15);
}
@media (max-width: 767.98px) {
  .footer__logo {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1439.98px) {
  .footer__logo {
    margin-bottom: 19px;
  }
}
@media (min-width: 1440px) {
  .footer__logo {
    height: 40px;
  }
}
.footer__logo-icon {
  color: var(--coffee-kinds-bg);
}
.footer__icon {
  color: var(--coffee-kinds-bg);
  margin-right: 12px;
}
.footer__title {
  font-size: 24px;
  line-height: 1.16;
}
@media (max-width: 767.98px) {
  .footer__title {
    margin-bottom: 28px;
  }
}
@media (min-width: 375px) {
  .footer__title {
    margin-bottom: 28px;
  }
}

.icon-logo-coffee-frame {
  font-size: 29px;
  line-height: 1;
}

.footer-navigation {
  font-size: 20px;
  line-height: 1.15;
}
@media (max-width: 767.98px) {
  .footer-navigation {
    position: absolute;
    bottom: 72px;
    left: 50%;
    transform: translate(-50%);
  }
}
.footer-navigation__link {
  transition: color var(--cubic);
}
.footer-navigation__link:hover, .footer-navigation__link:focus {
  color: var(--header-logo);
}
@media (max-width: 767.98px) {
  .footer-navigation__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .footer-navigation__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (max-width: 767.98px) {
  .footer-contacts {
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .footer-contacts {
    margin-left: 125px;
  }
}
.footer-contacts__list {
  font-size: 20px;
  display: inline-block;
  text-align: left;
  margin-bottom: 28px;
}
.footer-contacts__item {
  line-height: 0.9;
  letter-spacing: 0.01em;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 28px;
}
.footer-contacts__link {
  transition: color var(--cubic);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--header-logo);
}

.footer-social__list {
  display: flex;
  font-size: 28px;
  line-height: 0;
}
@media (max-width: 767.98px) {
  .footer-social__list {
    justify-content: center;
  }
}
.footer-social__item:not(:last-child) {
  margin-right: 23px;
}
.footer-social__link {
  transition: all var(--cubic);
  -webkit-transition: all var(--cubic);
  -o-transition: all var(--cubic);
}
.footer-social__link:hover, .footer-social__link:focus {
  transform: scale(1.15);
}

.footer-address {
  font-size: 20px;
  line-height: 1.15;
}
@media (max-width: 767.98px) {
  .footer-address {
    margin-bottom: 343px;
  }
}
@media (min-width: 1440px) {
  .footer-address {
    margin-left: 146px;
  }
}
.footer-address__item {
  letter-spacing: 0.01em;
}
.footer-address__item:not(:last-child) {
  margin-bottom: 28px;
}
.footer-address__link {
  transition: color var(--cubic);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: var(--header-logo);
}
.footer-address__box {
  display: flex;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .footer-address__box {
    text-align: left;
    align-items: flex-start;
  }
}

.icon-address,
.icon-time {
  font-size: 24px;
}

.footer-copy__line {
  border: 1px solid var(--footer-txt);
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 48px;
}
@media (min-width: 1440px) {
  .footer-copy__softryzen {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
  }
}