.about-us {
  // common
  position: relative;

  background-color: var(--primary-bg);

  &__item {
    display: flex;
    align-items: center;
  }

  &__svt {
    fill: var(--brown-bg);
  }

  &__subtitle {
    font-family: var(--Playfair-Display);
    font-weight: 600;

    color: var(--black-txt);
  }

  &__text {
    color: var(--grey-txt);
  }

  &__img-wrapper {
    position: relative;
  }

  &__picture-coffee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__picture-decor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__picture-coffee-dec {
    position: absolute;
    right: 0;
  }

  // mobile

  @include mq(mobile-only) {
    padding: 25px 0 20px;

    &__list {
      margin-top: 42px;
      margin-bottom: 19px;
    }

    &__item:not(:last-child) {
      margin-bottom: 16px;
    }

    &__svg {
      margin-right: 8px;

      width: 60px;
      height: 60px;
    }

    &__subtitle {
      margin-bottom: 4px;

      font-size: 18px;
      line-height: 1.33;
    }

    &__text {
      max-width: 180px;

      font-size: 12px;
      line-height: 1.17;
    }

    &__img-wrapper {
      height: 293px;
    }

    &__picture-coffee {
      width: 220px;
    }

    &__picture-decor {
      width: 293px;
    }

    &__picture-coffee-dec {
      max-width: 134px;
      top: 0;
    }
  }

  // tablet

  @include mq(tablet-only) {
    padding: 40px 0 80px;

    &__content-wrapper {
      flex-direction: column;
      flex-direction: column-reverse;
    }

    &__img-wrapper {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    &__picture-coffee-dec {
      top: -45px;
    }
  }

  @include mq(tablet) {
    &__content-wrapper {
      display: flex;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item:nth-child(-n + 4) {
      margin-bottom: 40px;
    }

    &__svg {
      margin-right: 16px;

      width: 80px;
      height: 80px;
    }

    &__subtitle {
      margin-bottom: 8px;

      font-size: 28px;
      line-height: 1.32;
    }

    &__text {
      max-width: 235px;

      line-height: 1.19;
    }

    &__img-wrapper {
      width: 100%;
      height: 493px;
    }

    &__picture-coffee {
      width: 425px;
    }

    &__picture-decor {
      width: 563px;
    }
  }

  // desktop

  @include mq(desktop) {
    padding: 60px 0 80px;

    &__content-wrapper {
      flex-direction: row-reverse;

      margin-top: 40px;
    }

    &__list {
      margin-left: 89px;
    }

    &__picture-coffee-dec {
      top: -55px;
    }
  }
}
