.footer {
  position: relative;
  text-align: center;
  background-color: var(--footer-bg);
  color: var(--footer-txt);
  padding-top: 40px;
  padding-bottom: 12px;
  @include mq(tablet-only) {
    padding-top: 20px;
    // padding-bottom: 47px;
  }
  @include mq(desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__container {
    @include mq(tablet-only) {
      padding: 0 53px;
    }
    @include mq(desktop) {
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
  &__block {
    @include mq(tablet-only) {
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin-bottom: 62px;
    }
    @include mq(desktop) {
      text-align: left;
      display: flex;
      margin-left: 219px;
      // margin-bottom: 10px;
    }
  }

  &__logo {
    display: inline-block;

    font-size: 28px;
    line-height: 1.32;
    font-family: 'PT-Serif';
    -webkit-transition: -webkit-transform var(--cubic);
    transition: -webkit-transform var(--cubic);
    -o-transition: transform var(--cubic);
    transition: transform var(--cubic);
    transition: transform var(--cubic), -webkit-transform var(--cubic);
    &:hover,
    &:focus {
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15);
    }
    @include mq(mobile-only) {
      margin-bottom: 40px;
    }
    @include mq(tablet-only) {
      margin-bottom: 19px;
    }
    @include mq(desktop) {
      height: 40px;
    }
  }
  &__logo-icon {
    color: var(--coffee-kinds-bg);
  }
  &__icon {
    color: var(--coffee-kinds-bg);
    margin-right: 12px;
  }
  &__title {
    font-size: 24px;
    line-height: 1.16;
    @include mq(mobile-only) {
      margin-bottom: 28px;
    }
    @include mq(mobile) {
      margin-bottom: 28px;
    }
  }
}

.icon-logo-coffee-frame {
  font-size: 29px;
  line-height: 1;
}
.footer-navigation {
  font-size: 20px;
  line-height: 1.15;

  @include mq(mobile-only) {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translate(-50%);
  }

  &__link {
    -webkit-transition: color var(--cubic);
    -o-transition: color var(--cubic);
    transition: color var(--cubic);
    &:hover,
    &:focus {
      color: var(--coffee-kinds-bg);
    }
  }

  &__item {
    @include mq(mobile-only) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    @include mq(tablet) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
.footer-contacts {
  @include mq(mobile-only) {
    margin-bottom: 80px;
  }
  @include mq(desktop) {
    margin-left: 125px;
  }
  &__list {
    font-size: 20px;

    display: inline-block;
    text-align: left;
    margin-bottom: 28px;
  }

  &__item {
    line-height: 0.9;
    letter-spacing: 0.01em;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__link {
    -webkit-transition: color var(--cubic);
    -o-transition: color var(--cubic);
    transition: color var(--cubic);
    &:hover,
    &:focus {
      color: var(--coffee-kinds-bg);
    }
  }
}
.footer-social {
  &__list {
    display: flex;
    font-size: 28px;
    line-height: 0;
    @include mq(mobile-only) {
      justify-content: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }

  &__link {
    transition: all var(--cubic);
    -webkit-transition: all var(--cubic);
    -o-transition: all var(--cubic);

    &:hover,
    &:focus {
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15);
      color: var(--coffee-kinds-bg);
    }
  }
}
.footer-address {
  font-size: 20px;
  line-height: 1.15;
  @include mq(mobile-only) {
    margin-bottom: 353px;
  }
  @include mq(desktop) {
    margin-left: 146px;
  }
  &__item {
    letter-spacing: 0.01em;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__link {
    -webkit-transition: color var(--cubic);
    -o-transition: color var(--cubic);
    transition: color var(--cubic);
    &:hover,
    &:focus {
      color: var(--coffee-kinds-bg);
    }
  }

  &__box {
    display: flex;

    align-items: flex-end;
    @include mq(tablet) {
      text-align: left;
      align-items: flex-start;
    }
  }
}
.icon-address,
.icon-time {
  font-size: 24px;
}

.footer-copy {
  &__line {
    border: 1px solid var(--footer-txt);
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 42px;
    margin: 0;
  }

  &__softryzen {
    opacity: 0.6;
    color: var(--white-txt);
    line-height: 1.2;
    font-size: 10px;
    @include mq(tablet) {
      line-height: 1.5;
      font-size: 12px;
    }
    @include mq(desktop) {
      position: absolute;
      bottom: 0px;
      right: 110px;
    }
  }
  &__span {
    margin-right: 4px;
    letter-spacing: 0.01em;
  }
}
