.header {
  padding-top: 24px;
  &__container {
    display: flex;
    align-items: center;
    @include mq(mobile-only) {
      justify-content: space-between;
    }
    @include mq(mobile) {
      justify-content: space-between;
    }
  }

  &__logo {
    font-size: 25px;
    font-family: 'PT-Serif';
    line-height: 1.28;
    -webkit-transition: -webkit-transform var(--cubic);
    transition: -webkit-transform var(--cubic);
    -o-transition: transform var(--cubic);
    transition: transform var(--cubic);
    transition: transform var(--cubic), -webkit-transform var(--cubic);
    &:hover,
    &:focus {
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15);
    }

    @include mq(tablet) {
      font-size: 31px;
      line-height: 1.29;
    }
    @include mq(desktop) {
      margin-right: 84px;
    }
  }
  &__nav-menu {
    line-height: 0;
    @include mq(tablet) {
      display: flex;
      align-items: center;
    }
  }
}
.header {
  padding: 31px 0;

  @include mq(tablet) {
    padding: 24px 0;
  }

  @include mq(desktop) {
    padding: 0;
    padding-top: 24px;
  }
}

.mobile-menu-btn {
  @include mq(desktop) {
    display: none;
  }
}
.mobile-menu-btn.is-active {
  display: none;
}
.icon-burger-menu {
  font-size: 32px;
  @include mq(tablet) {
    font-size: 40px;
  }
  &:hover,
  &:focus {
    color: var(--header-logo);
  }
}
