.category {
  padding-top: 40px;
  padding-bottom: 25px;
  @include mq(tablet) {
    padding-bottom: 40px;
  }
  @include mq(desktop) {
    padding-top: 65px;
    padding-bottom: 60px;
  }
  &__container {
    margin: 0 auto;
  }
  &__section-title {
    width: 255px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
    @include mq(tablet) {
      width: 428px;
      margin-bottom: 62px;
    }
    @include mq(desktop) {
      margin-bottom: 63px;
    }
  }
  &__slick-slider {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    @include mq(mobile) {
      width: auto;
    }
    & .slick-slide {
      width: 132px;
      margin-left: 16px;
      @include mq(mobile) {
        width: auto;
      }
      @include mq(tablet) {
        margin-left: 37px;
      }
      @include mq(desktop) {
        margin-left: 41px;
      }
    }
    & .category__list-item {
      &:hover .category__slick-slide-text,
      &:focus .category__slick-slide-text {
        text-decoration: underline;
      }
    }
    & .category__image {
      width: 100%;
    }
    & .slick-arrow {
      font-size: 0;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 36%;
      z-index: 1;
      @include mq(mobile) {
        top: 32%;
      }
      @include mq(tablet) {
        width: 32px;
        height: 32px;
        top: 33%;
      }
    }
    & .slick-next {
      background: url('../images/menu-categories/arrow-normal.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      right: -8px;
      &:hover {
        background: url('../images/menu-categories/arrow-hover.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:active {
        background: url('../images/menu-categories/arrow-active.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      @include mq(tablet) {
        right: -16px;
      }
      &.slick-disabled {
        background: url('../images/menu-categories/arrow-disabled.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: rotate(0deg);
      }
    }
    & .slick-prev {
      background: url('../images/menu-categories/arrow-normal.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      left: -8px;
      transform: rotate(180deg);
      &:hover {
        background: url('../images/menu-categories/arrow-hover.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:active {
        background: url('../images/menu-categories/arrow-active.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      @include mq(tablet) {
        left: -16px;
      }
      &.slick-disabled {
        background: url('../images/menu-categories/arrow-disabled.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: rotate(180deg);
      }
    }
    & .category__slick-slide-text {
      display: block;
      font-family: var(--Playfair-Display);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      text-align: center;
      margin-top: 8px;
      color: var(--black-txt);
      @include mq(tablet) {
        font-size: 28px;
        margin-top: 12px;
      }
    }
  }
}
