<section class="blog" id="blog">
  <div class="blog__container container">
    {% set sectionTitle = "Our Lastest Blog" %} {% set classList = "blog__section-title"%} {%include
    'components/section-title.html' %}
    <div class="blog__list blog__slick-slider">
      <div class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-1@1x.webp 1x,
              ./assets/images/blog/mobile320/mob320-blog-1@2x.webp 2x
            "
            media="(max-width: 374px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-1@1x.png 1x,
              ./assets/images/blog/mobile320/mob320-blog-1@2x.png 2x
            "
            media="(max-width: 374px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-1@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-1@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-1@1x.png 1x,
              ./assets/images/blog/mobile/mob-blog-1@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-1@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-1@2x.webp 2x
            "
            media="(max-width: 1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-1@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-1@2x.png 2x
            "
            media="(max-width: 1279px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-1@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-1@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-1@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-1@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-1@1x.png"
            alt="two people at the table with cups"
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">History of coffe</h3>
        <p class="blog__slick-slide-text">
          The history of coffee dates back to centuries of old oral tradition in the Middle East.
        </p>
      </div>

      <div class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-2@1x.webp 1x,
              ./assets/images/blog/mobile320/mob320-blog-2@2x.webp 2x
            "
            media="(max-width: 374px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-2@1x.png 1x,
              ./assets/images/blog/mobile320/mob320-blog-2@2x.png 2x
            "
            media="(max-width: 374px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-2@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-2@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-2@1x.png 1x,
              ./assets/images/blog/mobile/mob-blog-2@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-2@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-2@2x.webp 2x
            "
            media="(max-width: 1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-2@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-2@2x.png 2x
            "
            media="(max-width: 1279px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-2@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-2@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-2@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-2@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-2@1x.png"
            alt="coffee beans next to a cup of coffee"
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">About Americano coffee</h3>
        <p class="blog__slick-slide-text">
          Is a type of coffee drink prepared by diluting an espresso with hot water, giving it a
          similar strength.
        </p>
      </div>

      <div class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-3@1x.webp 1x,
              ./assets/images/blog/mobile320/mob320-blog-3@2x.webp 2x
            "
            media="(max-width: 374px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-3@1x.png 1x,
              ./assets/images/blog/mobile320/mob320-blog-3@2x.png 2x
            "
            media="(max-width: 374px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-3@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-3@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-3@1x.png 1x,
              ./assets/images/blog/mobile/mob-blog-3@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-3@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-3@2x.webp 2x
            "
            media="(max-width: 1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-3@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-3@2x.png 2x
            "
            media="(max-width: 1279px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-3@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-3@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-3@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-3@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-3@1x.png"
            alt="man with laptop and cup of coffee"
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">Coffe Break</h3>
        <p class="blog__slick-slide-text">
          Coffee break is a short break format (15-30 minutes). During which you can relax.
        </p>
      </div>

      <div class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-4@1x.webp 1x,
              ./assets/images/blog/mobile320/mob320-blog-4@2x.webp 2x
            "
            media="(max-width: 374px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-4@1x.png 1x,
              ./assets/images/blog/mobile320/mob320-blog-4@2x.png 2x
            "
            media="(max-width: 374px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-4@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-4@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-4@1x.png 1x,
              ./assets/images/blog/mobile/mob-blog-4@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-4@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-4@2x.webp 2x
            "
            media="(max-width: 1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-4@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-4@2x.png 2x
            "
            media="(max-width: 1279px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-4@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-4@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-4@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-4@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-4@1x.png"
            alt="room in a coffee shop"
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">The 8 Best Milk Frothers</h3>
        <p class="blog__slick-slide-text">
          So you're looking for the best milk frother? Well, we've got good news for you.
        </p>
      </div>

      <div class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-5@1x.webp 1x,
              ./assets/images/blog/mobile320/mob320-blog-5@2x.webp 2x
            "
            media="(max-width: 374px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile320/mob320-blog-5@2x.png 1x,
              ./assets/images/blog/mobile320/mob320-blog-5@2x.png 2x
            "
            media="(max-width: 374px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-5@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-5@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-5@2x.png 1x,
              ./assets/images/blog/mobile/mob-blog-5@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-5@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-5@2x.webp 2x
            "
            media="(max-width: 1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-5@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-5@2x.png 2x
            "
            media="(max-width: 1279px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-5@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-5@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-5@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-5@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-5@1x.png"
            alt="woman at table with coffee and croissant"
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">Add Extra Flavor</h3>
        <p class="blog__slick-slide-text">
          Some of these flavored coffee combinations are strange,but trust us.
        </p>
      </div>
    </div>
    {% set paginationClass = "blog__slick-slider-nav"%} {% include 'components/slider-dots.html' %}
  </div>
</section>
