<section class="section blog" id="blog">
  <div class="container">
    {% set sectionTitle = "Our Lastest Blog" %} {% set classList = "blog__section-title"%} {%include
    'components/section-title.html' %}
    <ul class="blog__list blog__slick-slider">
      <li class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-1@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-1@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-1@1x.png 1x,
              ./assets/images/blog/mobile/mob-blog-1@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-1@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-1@2x.webp 2x
            "
            media="(max-width: 1439px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-1@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-1@2x.png 2x
            "
            media="(max-width: 1439px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-1@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-1@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-1@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-1@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-1@1x.png"
            alt=""
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">History of coffe</h3>
        <p class="blog__slick-slide-text">
          Lörem ipsum kara valiga, det artdöden någisk mesk i probel ipsum kara någisk mesk i
          probel.
        </p>
      </li>

      <li class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-2@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-2@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-2@1x.png 1x,
              ./assets/images/blog/mobile/mob-blog-2@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-2@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-2@2x.webp 2x
            "
            media="(max-width: 1439px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-2@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-2@2x.png 2x
            "
            media="(max-width: 1439px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-2@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-2@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-2@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-2@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-2@1x.png"
            alt=""
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">About Americano coffee</h3>
        <p class="blog__slick-slide-text">
          Lörem ipsum kara valiga, det artdöden någisk mesk i probel ipsum kara någisk mesk i
          probel.
        </p>
      </li>

      <li class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-3@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-3@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-3@1x.png 1x,
              ./assets/images/blog/mobile/mob-blog-3@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-3@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-3@2x.webp 2x
            "
            media="(max-width: 1439px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-3@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-3@2x.png 2x
            "
            media="(max-width: 1439px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-3@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-3@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-3@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-3@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-3@1x.png"
            alt=""
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">Coffe Break</h3>
        <p class="blog__slick-slide-text">
          Lörem ipsum kara valiga, det artdöden någisk mesk i probel ipsum kara någisk mesk i
          probel.
        </p>
      </li>

      <li class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-4@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-4@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-4@1x.png 1x,
              ./assets/images/blog/mobile/mob-blog-4@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-4@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-4@2x.webp 2x
            "
            media="(max-width: 1439px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-4@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-4@2x.png 2x
            "
            media="(max-width: 1439px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-4@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-4@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-4@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-4@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-4@1x.png"
            alt=""
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">Lorem, ipsum dolor.</h3>
        <p class="blog__slick-slide-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat voluptates ut animi.
          Vitae, similique minus.
        </p>
      </li>

      <li class="blog__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/blog/mobile/mob-blog-5@1x.webp 1x,
              ./assets/images/blog/mobile/mob-blog-5@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="./assets/images/blog/mobile/mob-blog-5@2x.png 2x"
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-5@1x.webp 1x,
              ./assets/images/blog/tablet/tab-blog-5@2x.webp 2x
            "
            media="(max-width: 1439px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/tablet/tab-blog-5@1x.png 1x,
              ./assets/images/blog/tablet/tab-blog-5@2x.png 2x
            "
            media="(max-width: 1439px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-5@1x.webp 1x,
              ./assets/images/blog/desktop/desc-blog-5@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/blog/desktop/desc-blog-5@1x.png 1x,
              ./assets/images/blog/desktop/desc-blog-5@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <img
            class="blog__image"
            src="./assets/images/blog/mobile/mob-blog-5@1x.png"
            alt=""
            width="159"
            height="105"
            loading="lazy"
          />
        </picture>
        <h3 class="blog__slick-slide-title">Lorem, ipsum dolor.</h3>
        <p class="blog__slick-slide-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat voluptates ut animi.
          Vitae, similique minus.
        </p>
      </li>
    </ul>
    {% set paginationClass = "blog__slick-slider-nav"%} {% include 'components/slider-dots.html' %}
  </div>
</section>
