<section class="section hero">
  <div class="container hero__container">
    <div class="hero__slider-wrapper">
      <div class="hero__slider">
        <div>
          <div class="hero__title-wrapper">
            <h1 class="section-title hero__title">Enjoy Your Morning Coffe</h1>
            <p class="hero__text">
              Boost your productivity and build your mood with a glass of coffee in the morning
            </p>
          </div>
          <div class="hero__picture">
            <picture>
              <source
                srcset="
                  ./assets/images/hero/coffe-cup@1x.webp 1x,
                  ./assets/images/hero/coffe-cup@2x.webp 2x
                "
                media="(min-width: 1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/hero/coffe-cup@1x.png 1x,
                  ./assets/images/hero/coffe-cup@2x.png 2x
                "
                media="(min-width: 1440px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/hero/tablet/coffe-cup@1x.webp 1x,
                  ./assets/images/hero/tablet/coffe-cup@2x.webp 2x
                "
                media="(min-width: 769px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/hero/tablet/coffe-cup@1x.png 1x,
                  ./assets/images/hero/tablet/coffe-cup@2x.png 2x
                "
                media="(min-width: 769px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/hero/mobile/coffe-cup@1x.webp 1x,
                  ./assets/images/hero/mobile/coffe-cup@2x.webp 2x
                "
                media="(max-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/hero/mobile/coffe-cup@1x.png 1x,
                  ./assets/images/hero/mobile/coffe-cup@2x.png 2x
                "
                media="(max-width: 768px)"
                type="image/png"
              />

              <img
                class="hero__image hero__image--coffee"
                src="./assets/images/hero/coffe-cup@1x.png"
                alt="Coffe Cup"
                loading="lazy"
                width="666"
                height="765"
              />
            </picture>
          </div>
        </div>
        -->

        <div>
          <div class="hero__title-wrapper">
            <p class="section-title hero__title">Try Delicious Desserts</p>
            <p class="hero__text hero__text--cake">
              We offer our guests exquisite desserts, and amazing baking
            </p>
          </div>
          <div class="hero__picture hero__picture--cake">
            <picture>
              <source
                srcset="./assets/images/hero/cake@1x.webp 1x, ./assets/images/hero/cake@2x.webp 2x"
                media="(min-width: 1440px)"
                type="image/webp"
              />
              <source
                srcset="./assets/images/hero/cake@1x.png 1x, ./assets/images/hero/cake@2x.png 2x"
                media="(min-width: 1440px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/hero/tablet/cake@1x.webp 1x,
                  ./assets/images/hero/tablet/cake@2x.webp 2x
                "
                media="(min-width: 769px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/hero/tablet/cake@1x.png 1x,
                  ./assets/images/hero/tablet/cake@2x.png 2x
                "
                media="(min-width: 769px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/hero/mobile/cake@1x.webp 1x,
                  ./assets/images/hero/mobile/cake@2x.webp 2x
                "
                media="(max-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/hero/mobile/cake@1x.png 1x,
                  ./assets/images/hero/mobile/cake@2x.png 2x
                "
                media="(max-width: 768px)"
                type="image/png"
              />

              <img
                class="hero__image hero__image--cake"
                src="./assets/images/hero/cake@1x.png"
                alt="Cake"
                loading="lazy"
                width="517"
                height="366"
              />
            </picture>
          </div>
        </div>

        <div>
          <div class="hero__title-wrapper">
            <p class="section-title hero__title">
              Taste Our <br />
              Airy Croissants
            </p>
            <p class="hero__text hero__text--croissants">
              Appetizing appetizers, croissants and sandwiches during the day and late at night
            </p>
          </div>
          <div class="hero__picture hero__picture--croissants">
            <picture>
              <source
                srcset="
                  ./assets/images/hero/croissants@1x.webp 1x,
                  ./assets/images/hero/croissants@2x.webp 2x
                "
                media="(min-width: 1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/hero/croissants@1x.png 1x,
                  ./assets/images/hero/croissants@2x.png 2x
                "
                media="(min-width: 1440px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/hero/tablet/croissants@1x.webp 1x,
                  ./assets/images/hero/tablet/croissants@2x.webp 2x
                "
                media="(min-width: 769px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/hero/tablet/croissants@1x.png 1x,
                  ./assets/images/hero/tablet/croissants@2x.png 2x
                "
                media="(min-width: 769px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/hero/mobile/croissants@1x.webp 1x,
                  ./assets/images/hero/mobile/croissants@2x.webp 2x
                "
                media="(max-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/hero/mobile/croissants@1x.png 1x,
                  ./assets/images/hero/mobile/croissants@2x.png 2x
                "
                media="(max-width: 768px)"
                type="image/png"
              />

              <img
                class="hero__image hero__image--croissants"
                src="./assets/images/hero/croissants@1x.png"
                alt="croissants"
                loading="lazy"
                width="581"
                height="632"
              />
            </picture>
          </div>
        </div>
      </div>
      <div>
        <button class="btn hero__btn" type="button">View menu</button>
      </div>
    </div>
  </div>
</section>
