<section class="category" id="category">
  <div class="container">
    {% set sectionTitle = "Category Of Our Menu" %} {% set classList = "category__section-title"%}
    {%include 'components/section-title.html' %}
    <div class="category__list category__slick-slider">
      <a href="#drinks" class="category__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-drinks@1x.webp 1x,
              ./assets/images/menu-categories/mobile/mob-category-drinks@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-drinks@1x.png 1x,
              ./assets/images/menu-categories/mobile/mob-category-drinks@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-drinks@1x.webp 1x,
              ./assets/images/menu-categories/desktop/desc-category-drinks@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-drinks@1x.png 1x,
              ./assets/images/menu-categories/desktop/desc-category-drinks@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <img
            class="category__image"
            src="./assets/images/menu-categories/mobile/mob-category-drinks@1x.png"
            alt="cups with different types of coffee"
            width="101"
            height="90"
            loading="lazy"
          />
        </picture>
        <p class="category__slick-slide-text">Drinks</p>
      </a>

      <a href="#desserts" class="category__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-desserts@1x.webp 1x,
              ./assets/images/menu-categories/mobile/mob-category-desserts@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-desserts@1x.png 1x,
              ./assets/images/menu-categories/mobile/mob-category-desserts@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-desserts@1x.webp 1x,
              ./assets/images/menu-categories/desktop/desc-category-desserts@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-desserts@1x.png 1x,
              ./assets/images/menu-categories/desktop/desc-category-desserts@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <img
            class="category__image"
            src="./assets/images/menu-categories/mobile/mob-category-desserts@1x.png"
            alt="different types of cakes"
            width="101"
            height="90"
            loading="lazy"
          />
        </picture>
        <p class="category__slick-slide-text">Desserts</p>
      </a>

      <a href="#macarons" class="category__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-macarons@1x.webp 1x,
              ./assets/images/menu-categories/mobile/mob-category-macarons@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-macarons@1x.png 1x,
              ./assets/images/menu-categories/mobile/mob-category-macarons@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-macarons@1x.webp 1x,
              ./assets/images/menu-categories/desktop/desc-category-macarons@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-macarons@1x.png 1x,
              ./assets/images/menu-categories/desktop/desc-category-macarons@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <img
            class="category__image"
            src="./assets/images/menu-categories/mobile/mob-category-macarons@1x.png"
            alt="grain of coffee and different types of macarons"
            width="101"
            height="90"
            loading="lazy"
          />
        </picture>
        <p class="category__slick-slide-text">Macarons</p>
      </a>

      <a href="#sandwichs" class="category__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-sandwichs@1x.webp 1x,
              ./assets/images/menu-categories/mobile/mob-category-sandwichs@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-sandwichs@1x.png 1x,
              ./assets/images/menu-categories/mobile/mob-category-sandwichs@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-sandwichs@1x.webp 1x,
              ./assets/images/menu-categories/desktop/desc-category-sandwichs@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-sandwichs@1x.png 1x,
              ./assets/images/menu-categories/desktop/desc-category-sandwichs@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <img
            class="category__image"
            src="./assets/images/menu-categories/mobile/mob-category-sandwichs@1x.png"
            alt="two sandwichs"
            width="101"
            height="90"
            loading="lazy"
          />
        </picture>
        <p class="category__slick-slide-text">Sandwichs</p>
      </a>

      <a href="#baking" class="category__list-item">
        <picture>
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-baking@1x.webp 1x,
              ./assets/images/menu-categories/mobile/mob-category-baking@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/mobile/mob-category-baking@1x.png 1x,
              ./assets/images/menu-categories/mobile/mob-category-baking@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-baking@1x.webp 1x,
              ./assets/images/menu-categories/desktop/desc-category-baking@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/menu-categories/desktop/desc-category-baking@1x.png 1x,
              ./assets/images/menu-categories/desktop/desc-category-baking@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <img
            class="category__image"
            src="./assets/images/menu-categories/mobile/mob-category-baking@1x.png"
            alt="Sausage bread rolls"
            width="101"
            height="90"
            loading="lazy"
          />
        </picture>
        <p class="category__slick-slide-text">Baking</p>
      </a>
    </div>
  </div>
</section>
