<section class="menu" id="menu">
  <div class="container">
    <div class="menu__title">
      {% set sectionTitle = "Your&nbsp;Favorite&nbsp;Menu" %} {% include 'components/section-title.html' %}
    </div>

    <ul class="menu__part">
      <li>
        <p id="drinks" class="menu__subtitle">Drinks</p>
        <ul class="menu__list">
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/drinks/espresso.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Espresso</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">2,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/drinks/americano.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Americano</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">3,12</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/drinks/capuchino.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Capuchino</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">4,55</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/drinks/turkish.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Turkish</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">3,55</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/drinks/caramel.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name menu__name-l">Caramel Late</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">5,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/drinks/vanilla.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name menu__name-l">Vanilla Late</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">5,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="menu__x">
        <p id="desserts" class="menu__subtitle">Desserts</p>
        <ul class="menu__list">
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/deserts/cheesecake.png"
              alt="desert"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Сheesecake</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">7,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/deserts/strawberry.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name menu__name-c-ll">Strawberry cupcake</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">3,12</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/deserts/chocolate.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name menu__name-c-ll">Chocolate cupcake</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">4,55</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/deserts/donut.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Donut</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">3,55</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/deserts/tube.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name menu__name-c-l">Tube with cream</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">5,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/deserts/tiramisu.png"
              alt="drink"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Tiramisu</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">5,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="menu__x">
        <p id="macarons" class="menu__subtitle">Macarons</p>
        <ul class="menu__list">
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/macarons/strawberry.png"
              alt="macaron"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Strawberry</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">7,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/macarons/peach.png"
              alt="macaron"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Peach</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">4,55</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/macarons/salted.png"
              alt="macaron"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Salted</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">3,12</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/macarons/orange.png"
              alt="macaron"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Orange</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">3,55</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/macarons/pomegranate.png"
              alt="macaron"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Pomegranate</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">5,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/macarons/chocolate.png"
              alt="macaron"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Chocolate</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">5,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="menu__x">
        <p id="sandwichs" class="menu__subtitle">Sandwichs</p>
        <ul class="menu__list">
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/sandwichs/ham.png"
              alt="sandwich"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name menu__name-s-l">Sandwich with ham</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">7,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/sandwichs/chicken.png"
              alt="sandwich"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name menu__name-s-l">Sandwich with chicken</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">4,55</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="menu__x">
        <p id="baking" class="menu__subtitle">Baking</p>
        <ul class="menu__list">
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/baking/croissant.png"
              alt="croissant"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Croissant</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">7,15</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/baking/pretzel.png"
              alt="pretzel"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Pretzel</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">3,12</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/baking/roll.png"
              alt="roll"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Roll</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">4,55</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
          <li class="menu__item">
            <img
              class="menu__picture menu__img"
              src="./assets/images/menu/tablet/baking/cake.png"
              alt="cake"
              width="240"
              height="224"
              loading="lazy"
            />

            <div class="menu__info-wrapper">
              <div class="menu__name-wrapper">
                <p class="menu__name">Cake</p>
                <div class="menu__name-line"></div>

                <div class="menu__price-wrapper">
                  <i class="menu__icon icon2 icon-dollar"></i>
                  <p class="menu__price">3,55</p>
                </div>
              </div>
              <p class="menu__text">Lörem ipsum kara valiga, det artdöden</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <button class="menu__btn btn" type="button">View&nbsp;all&nbsp;menu</button>
  </div>
</section>
