<div class="mobile-menu" data-menu>
  <div class="container mobile-menu__container">
    <div class="mobile-menu__top">
      <a href="/" class="link header__logo" aria-label="logo">
        <span>C</span><i class="icon-logo-coffee-frame"></i><span>ffee</span>
      </a>
      <button
        class="mobile-menu-close icon-xmark-solid"
        type="button"
        aria-label="Close menu"
        data-menu-close-btn
      ></button>
    </div>
    {% set classNav= "nav-mobile" %}{% set classNavList= "nav-list-mobile" %}{% set
    classBtnPosition= "nav-btn nav__btn-mobile-position" %}{% set classNavListItem=
    "mobile-menu__navline-wrapper" %}{% set classNavItemLink= "mobile-menu__navline" %}{% include
    'components/nav-menu.html' %}
  </div>
</div>
