<nav class="{{classNav}}">
  <ul class="list {{classNavList}}">
    <li class="nav-item {{classNavListItem}}">
      <a class="link nav-link {{classNavItemLink}}" href="#category" aria-label="Menu categories"
        >Menu categories</a
      >
    </li>
    <li class="nav-item {{classNavListItem}}">
      <a class="link nav-link {{classNavItemLink}}" href="#about-us" aria-label="About us"
        >About us</a
      >
    </li>
    <li class="nav-item {{classNavListItem}}">
      <a class="link nav-link {{classNavItemLink}}" href="#menu" aria-label="Menu">Menu</a>
    </li>
    <li class="nav-item {{classNavListItem}}">
      <a class="link nav-link {{classNavItemLink}}" href="#blog" aria-label="Blog">Blog</a>
    </li>
    <li class="nav-item {{classNavListItem}}">
      <a class="link nav-link {{classNavItemLink}}" href="#reviews" aria-label="Reviews">Reviews</a>
    </li>
    <li class="nav-item">
      <a class="link nav-link" href="#our-contacts" aria-label="Our Contacts">Our Contacts</a>
    </li>
  </ul>
  <button type="button" class="{{classBtnPosition}}" data-modal-btn aria-label="Contact US">
    Order a call
  </button>
</nav>
